* {box-sizing:border-box}

body {
    width: 100vw;
}

/* Header section */
/* ---------------------------------------------------------------------------------------------------------*/

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 10vh; /* Adjust height as needed */
    transition: background-color 0.3s ease;
    z-index: 1000; /* Ensure it's above other content */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5vh 15vw;
}

#header.solid {
    background-color: white;
    border-bottom: 2px solid #fb5b21;
}

#header > img {
  height: 3vh;
  width: 10vw;
}

#header ul {
  display: flex;
  gap: 1vw;
  margin: 0;
}

#header li{
  list-style-type: none;
}

#header li a {
  font-size: 2vh;
  font-weight: 600;
  color: white;
  text-decoration: none;
}

@media (max-width: 600px) {
  #header {
    padding: 5vh 10vw;
  }
  
  #header > img {
    height: 3vh;
    width: 25vw;
    margin-left: -5vw;
  }

  #header ul {
    margin-top: -2vh;
    margin-left: -7vw;
    gap: 2vw;
  }

  #header li a {
    font-size: 1vh;
  }
}

#header li .header-active {
  color: #fb5b21;
}

#header a:hover {
  color: #fb5b21 !important;
}

/* Slideshow section */
/* ---------------------------------------------------------------------------------------------------------*/

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
  position: relative;
}

/* Next & previous buttons */
.slideshow-prev, .slideshow-next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.slideshow-next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.slideshow-prev:hover, .slideshow-next:hover {
  background-color: rgba(0,0,0,0.8);
}

.dots {
    margin-top: -0px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 1vw;
  width: 1vw;
  margin: 0 0.2vw;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 6s;
}

/* Banner button slide in animation */
.mySlides > button {
    color: white;
    font-size: 1vw;
    padding: 0.4vh 0.6vw;
    position: absolute;
    bottom: 35%;
    left: 42.5%;
    width: 12%;
    text-align: center;
    border-radius: 0.75vw;
    background-color: transparent;
    border: 2px solid #fb5b21;
    opacity: 0;
    animation: slideInFromBottom 2s ease forwards;
    animation-delay: 2s;
    font-weight: 800;
}

/* Banner text slide in animation */
.mySlides > h3 {
    color: white;
    font-size: 1vw;
    padding: 0.4vh 0.6vw;
    position: absolute;
    bottom: 30%;
    left: 38%;
    text-align: center;
    background-color: transparent;
    opacity: 0;
    animation: slideInFromLeft 2s ease forwards;
    animation-delay: 2s;
    font-weight: 800;
}

.mySlides > h1 {
    color: white;
    font-size: 4vw;
    padding: 0.4vh 0.6vw;
    position: absolute;
    bottom: 20%;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: transparent;
    opacity: 0;
    animation: slideInFromTop 2s ease forwards;
    animation-delay: 1s;
}

.mySlides > h1 > .orange {
    color: #ff6900;
}

@keyframes fade {
  0% {
    opacity: 0.4;
  }

  70% {
    opacity: 0.95;
  }

  100% {
    opacity: 0.8;
  }
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
        opacity: 0.2;
        display: none;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
        display: absolute;
    }
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0.2;
        display: none;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
        display: absolute;
    }
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
        opacity: 0.2;
        display: none;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
        display: none;
    }
}

/* Company About Section */
.company-about {
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10vh 20vw;
}

.orange-line {
  height: 0.25vh;
  width: 3.5vw;
  margin: 2vh 0;
  background-color: #fb5b21;
}

.company-about > h2 {
  font-weight: 600;
  text-align: center;
}

.company-about > p {
  text-align: center;
}

/* Featured Section */

.featured-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10vh 15vw;
}

.featured-section > h2 {
  font-weight: 600;
  text-align: center;
  color: #fb5b21;
}

.featured-section > p {
  text-align: center;
}

.featured-container {
  display: grid;
  grid-auto-flow: column;
  gap: 4vw;
  width: 100%;
  justify-content: center;
}

@media (max-width: 600px) {
  .featured-container {
    grid-auto-flow: row;
  }
}

.featured-product {
  display: grid;
  grid-auto-flow: row;
  gap: 1vh;
}

.featured-product > .price {
  color: #fb5b21;
  font-weight: 500;
}

.featured-product > .description {
  color: #666666;
}

.featured-product > img {
  height: 30vh;
  width: auto;
}

/* Footer Company Info */
.footer-top {
  display: grid;
  grid-auto-flow: column;
  gap: 4vw;
  padding: 10vh 20vw;
  background-color: #001137;
  justify-content: center;
}

.footer-top h2, .footer-top p {
  color: white;
}

.footer-top .dots {
  margin-top: -1vh;
}

.footer-top > .company-info > img[src="./images/logos/manford-white.png"] {
  height: 6vh;
  width: auto;
}

.footer-top > .company-info .svg {
  height: 2.25vh;
  width: auto;
  margin-right: 0.4vw;
  filter: invert(100%) sepia(100%) saturate(1000%) hue-rotate(60deg);
}

.company-info .address, .company-info .phone, .company-info .email {
  display: flex;
  align-items: center;
}

.footer-top p, .footer-top h2 {
  color: white;
}

.footer-top ul h2, .footer-top li {
  color: #b3b3b3;
}

@media (max-width: 600px) {
  .footer-top {
    grid-auto-flow: row;
  }
}

/* Footer Products and Footer Company Links*/
.footer-top li {
  list-style-type: none;
}

.footer-top a {
  text-decoration: none;
  color: #fb5b21;
}

.footer-top ul {
  padding: 0;
}

.footer-top > .company-links ul {
  display: grid;
  grid-auto-flow: row;
  gap: 0.4vh;
}

.footer-top > .company-info .white-color {
  color: white;
}

/* Bottom Footer */
.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #001e61;
}

.footer-bottom p {
  color: white;
}

.footer-bottom a {
  text-decoration: none;
}

.footer-bottom a:visited {
  color: #fb5b21 !important;
}

.footer-bottom .svg {
  height: 2.25vh;
  width: auto;
  filter: invert(100%);
  margin-right: 0.3vw;
}