/* Header section */
/* ---------------------------------------------------------------------------------------------------------*/
#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px; /* Adjust height as needed */
    transition: background-color 0.3s ease;
    z-index: 1000; /* Ensure it's above other content */
}

#header.solid {
    background-color: white;
}

.invisible {
    background-color: transparent;
}

.visible {
    background-color: white; /* Change to desired solid color */
}



/* Slideshow section */
/* ---------------------------------------------------------------------------------------------------------*/

* {box-sizing:border-box}

body {
    width: 100vw;
}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
  position: relative;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.dots {
    margin-top: -0px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 1vw;
  width: 1vw;
  margin: 0 0.2vw;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 6s;
}

/* Banner button slide in animation */
.mySlides > button {
    color: white;
    font-size: 1vw;
    padding: 0.4vh 0.6vw;
    position: absolute;
    bottom: 35%;
    left: 42.5%;
    width: 12%;
    text-align: center;
    border-radius: 0.75vw;
    background-color: transparent;
    border: 2px solid #fb5b21;
    opacity: 0;
    animation: slideInFromBottom 2s ease forwards;
    animation-delay: 2s;
    font-weight: 800;
}

/* Banner text slide in animation */
.mySlides > h3 {
    color: white;
    font-size: 1vw;
    padding: 0.4vh 0.6vw;
    position: absolute;
    bottom: 30%;
    left: 38%;
    text-align: center;
    background-color: transparent;
    opacity: 0;
    animation: slideInFromLeft 2s ease forwards;
    animation-delay: 2s;
    font-weight: 800;
}

.mySlides > h1 {
    color: white;
    font-size: 4vw;
    padding: 0.4vh 0.6vw;
    position: absolute;
    bottom: 20%;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: transparent;
    opacity: 0;
    animation: slideInFromTop 2s ease forwards;
    animation-delay: 1s;
}

.mySlides > h1 > .orange {
    color: #ff6900;
}

@keyframes fade {
  0% {
    opacity: 0.4;
  }

  70% {
    opacity: 0.95;
  }

  100% {
    opacity: 0.8;
  }
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
        opacity: 0.2;
        display: none;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
        display: absolute;
    }
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0.2;
        display: none;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
        display: absolute;
    }
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
        opacity: 0.2;
        display: none;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
        display: none;
    }
}